name: Install Qt
  # You may pin to the exact commit or the version.
  # uses: jurplel/install-qt-action@a10f4d43af43348aab618414b68a9d32cb008977
uses: jurplel/install-qt-action@v2.13.2
with:
    # Directory to install Qt
    dir: # optional
    # Version of Qt to install
    version: # optional, default is 5.15.2
    # Host platform
    host: # optional
    # Target platform for build
    target: # optional, default is desktop
    # Architecture for Windows/Android
    arch: # optional
    # Whether or not to install Qt dependencies on Linux
    install-deps: # optional, default is true
    # Additional Qt modules to install
    modules: # optional
    # Whether or not to actually download Qt
    cached: # optional, default is false
    # Whether or not to automatically run setup-python to find a valid python version.
    setup-python: # optional, default is true
    # Qt tools to download--specify comma-separated argument lists which are themselves separated by spaces: <tool_name>,<tool_version>,<tool_arch>
    tools: # optional
    # Whether or not to set environment variables after running aqtinstall
    set-env: # optional, default is true
    # Whether or not to actually install Qt or just the tools from the tools argument
    tools-only: # optional, default is false
    # Version of aqtinstall to use in case of issues
    aqtversion: # optional, default is ==1.1.3
    # Version of py7zr to use in case of issues
    py7zrversion: # optional, default is ==0.14.0
    # Any extra arguments to append to the back
    extra: # optional
