# This is a basic workflow to help you get started with Actions

name: CI

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-windows:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3.2.0
    
      - name: Install Qt
        uses: jurplel/install-qt-action@v3.3.0
        with:
          version: '6.6.0'
          aqtversion: '==3.1.*'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_mingw'
          setup-python: 'false'

        
      - name: tree
        run: |
          where make.exe
          cd \
          tree /F
      - name: build
        run: |
          cd dsda-launcher
          mkdir build
          cd build
          qmake.exe ..
          make.exe
          make.exe clean
          tree /F
          mkdir lib
          windeployqt.exe release\dsda-launcher.exe
          Compress-Archive -path .\release\* -destination .\windows.zip
          dir
      - uses: actions/upload-artifact@v2
        with:
          name: windows
          path: dsda-launcher\build\windows.zip
  build-linux:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3.2.0
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v3.3.0
        with:
          aqtversion: '==3.1.*'
          version: '6.6.0'
          host: 'linux'
          target: 'desktop'
          arch: 'gcc_64'
          tools: 'tools_opensslv3_src'
      - name: build
        run: |
          sudo apt install libfuse2
          cd dsda-launcher
          mkdir build
          cd build
          qmake ..
          make

          # make clean
          # wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
          # chmod a+x linuxdeployqt-continuous-x86_64.AppImage
          # ./linuxdeployqt-continuous-x86_64.AppImage ./dsda-launcher -unsupported-allow-new-glibc
      - uses: actions/upload-artifact@v3
        with:
          name: linux
          path: dsda-launcher/build
          
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3.2.0
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v3.3.0
        with:
          aqtversion: '==3.1.*'
          version: '6.6.0'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
          
      - name: build
        run: |
          cd dsda-launcher
          mkdir build
          cd build
          qmake .. "CONFIG+=noport"
          make
          make clean
          ls
          macdeployqt ./dsda-launcher.app
      - uses: actions/upload-artifact@v3
        with:
          name: mac
          path: dsda-launcher/build
    


